# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto eol=lf

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.
*.java text=auto eol=lf
*.sql text=auto eol=lf
*.md text=auto eol=lf
*.txt text=auto eol=lf
*.gradle text=auto eol=lf
Dockerfile text=auto eol=lf
*.yml text=auto eol=lf
*.yaml text=auto eol=lf
*.sh text=auto eol=lf
*.bat text=auto eol=crlf
# Denote all files that are truly binary and should not be modified.
*.png binary
*.jpg binary
